  <footer>

    <script src="/static/vendor/q.js"></script>

    <script src="/static/lib/es.js"></script>
    <script src="/static/lib/u.js"></script>

    <script src="/static/fire/http.js"></script>
    <script src="/static/fire/json.js"></script>
    <script src="/static/fire/clui.js"></script>

    <script>
      "use strict";

      var
        clipy_cache = { 0: null },
        clipy_index = 1,
        _;

      function seed( element ) {
        let
          box = document.getElementById('input-video'),
          _;
        box.value = element.innerText;
      }

    </script>

  </footer>
