  <footer>

    <script src="/static/vendor/q.js"></script>

    <script src="/static/lib/es.js"></script>
    <script src="/static/lib/u.js"></script>

    <script src="/static/fire/http.js"></script>
    <script src="/static/fire/json.js"></script>
    <script src="/static/fire/clui.js"></script>

    <script>
      "use strict";

      var check_progress_id = window.setInterval( check_progress, 5000 );
      // var
      //   clipy_cache = { 0: null },
      //   clipy_index = 1,
      //   _;

      function bail( error ) {
        console.log( error )
        if ( error.code === 'ETIMEDOUT' ) {
          console.log( 'stopping: ' + check_progress_id )
          window.clearInterval( check_progress_id )
        }
      }

      function check_progress() {
        let
          url = '/api/progress',
          _;

        http.get( url )
        .then( json.parse )
        .then( clui.show_progress )
        .fail( bail )
      }

      function seed( element ) {
        let
          box = document.getElementById('input-video'),
          _;
        box.value = element.innerText;
      }

      function shutdown() {
        let
          url = '/api/shutdown',
          _;

        http.get( url )
        .then( json.parse )
        .then( console.log )
        .fail( console.log )
      }

    </script>

  </footer>
