  <footer>

    <script src="/static/vendor/q.js"></script>

    <script src="/static/lib/es.js"></script>
    <script src="/static/lib/u.js"></script>

    <script src="/static/fire/http.js"></script>
    <script src="/static/fire/json.js"></script>
    <script src="/static/fire/clui.js"></script>

    <script>
      "use strict";

      // var
      //   clipy_cache = { 0: null },
      //   clipy_index = 1,
      //   _;

      setInterval(check_progress, 2000);

      function check_progress() {
        let
          url = '/api/progress',
          _;

        http.get( url )
        .then( json.parse )
        .then( clui.show_progress )
        .fail( console.log )
      }

      function seed( element ) {
        let
          box = document.getElementById('input-video'),
          _;
        box.value = element.innerText;
      }

      function shutdown() {
        let
          url = '/api/shutdown',
          _;

        http.get( url )
        .then( json.parse )
        .then( console.log )
        .fail( console.log )
      }

    </script>

  </footer>
