<head>
  <meta charset="utf-8">
  <title> Clipy </title>
  <meta name="description" content="Clipy YouTube downloader">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <XXXlink href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/static/vendor/normalize.css">
  <link rel="stylesheet" href="/static/vendor/skeleton.css">
  <link rel="stylesheet" href="/static/vendor/skeleton_custom.css">
  <link rel="stylesheet" href="/static/clipy.css">
  <link rel="icon" type="image/png" href="/static/favicon.png">
</head>
