<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}
<body>
  <div class="container">

    <!--                                                                               HEROUNIT -->
    <div class="row">
      <div class="twelve columns">
        <h4 class="page-header">
          <i class=" logo fa fa-repeat fa-2" aria-hidden="true"></i>
          Clipy
        </h4>
      </div>
    </div>

    <!--                                                                               PROGRESS -->
    <div class="row">
      <div class="twelve columns">
        <ul id="progress-bars"></ul>
      </div>
    </div>

    <!--                                                                                 STATUS -->
    <div class="row">
      <div class="twelve columns">
        <button class="button valign" onclick="cler.shutdown()"> Shutdown </button>
        <input
          type="checkbox"
          class="valign"
          name="running"
          id="running"
          title="Is the sesrver running?"
          disabled="true"
        >
      </div>
    </div>

    <!--                                                                                TEXTBOX -->
    <div class="row">
      <div class="twelve columns">
        <label for="input-video">
          Video
          {% set tooltip = "Vid.me URLs end in a 4-charcter Id like 'xyzZ' "
                         + "and YouTube 'watch' URLs have 'v=12345678901' "
                         + "with an 11-char Id. You can enter the full URL or just the Id."
          %}
          <div class="tooltip" title="{{ tooltip }}">
            <div class="info"></div>
          </div>
        </label>
        <input
          type="text"
          name="video"
          class="u-full-width"
          placeholder="http://youtube.com/watch?v=12345678901"
          id="input-video"
          value="https://www.youtube.com/watch?v=kfchvCyHmsc"
        >
      </div>
    </div>

    <!--                                                                                BUTTONS -->
    <div class="row">
      <div class="nine columns">
        <button class="button-primary" onclick="clui.inquire()"> Inquire </button>
        <!-- <button class="button" onclick="clui.download()"> Download </button> -->
      </div>
      <div class="three columns winctl">
        <button class="button" onclick="clui.clear()" title="Clear all panels"> X </button>
      </div>
    </div>

    <!--                                                                                 PANELS -->
    <div class="row">
      <div class="twelve columns">
        <div id="panels-container">
          <ol id="panels"></ol>
        </div>
      </div>
    </div>

  </div>

{% include 'footer.html' %}

</body>
</html>
